{% extends "layout.html" %}

{% block content %}

  <!-- {% for hotel in all_hotels %}

    <li>{{hotel.name}}</li>

  {% endfor %}

  {% for restaurant in all_restaurants %}
    
    <li>{{restaurant.name}}</li>
  
  {% endfor %}

  {% for thing in all_things_to_do %}

    <li>{{thing.name}}</li>

  {% endfor %} -->

  <script>
    {% autoescape false %}
    var all_hotels = {{ hotels | json }};
    var all_restaurants = {{ restaurants | json }};
    var all_things_to_do = {{ things_to_do | json }};
    {% endautoescape %}
  </script>

{% endblock %}