<!-- correctly link bower components, make jscript objects usable, -->


<!DOCTYPE html>
<html>
<head>
  <title>iTrip Planner</title>
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <link href="style.css" rel="stylesheet" type="text/css"> 

</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <h1>iTrip Planner</h1>
  </div>


  <div id="map-canvas" class="col-lg-9 col-md-9" ></div>
  
  <div class="calendar col-md-3 col-lg-3">
      <div class="container day next-day">
        <div class="hotel-section">
          <h2 class="retro">Hotels</h2>

          <div class="row">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Local Hotels
                  <span class="caret"></span>
                </button>
                <ul id="hotel-menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                </ul>
            </div>
            <button type = 'button' class="remove-hotel rem btn btn-danger ">Remove</button>
          </div>

        </div>
        <div class="rest-section">
          <h2 class="retro">Restaurants</h2>
          <div class="row">
            <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Local Restaurants
                    <span class="caret"></span>
                  </button>
                  <ul id="rest-menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  </ul>
              </div>
            <button type = 'button' class="remove-hotel rem btn btn-danger ">Remove</button>
        </div>
        </div>
        <div class="ttd-section">
          <h2 class="retro">Things To Do</h2>
            <div class="row">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  Things To Do
                  <span class="caret"></span>
                </button>
                <ul id="ttd-menu" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                </ul>
              </div>
               <button type = 'button' class="remove-hotel rem btn btn-danger ">Remove</button>
            </div>
        </div>
      </div>
      <div class="container day all-days">
        <h1>Vacation plan</h1>
          <div class="hotel-section">
          <h2 class="retro">Hotels</h2>
          <!--    Javascript    -->
          <button type = 'button' class="remove-hotel btn btn-danger">Remove</button>
        </div>
        <div class="rest-section">
          <h2 class="retro">Restaurants</h2>
          <!--    Javascript    -->
          <button type = 'button' class="remove-hotel btn btn-danger">Remove</button>
        </div>
        <div class="ttd-section">
          <h2 class="retro">Things To Do</h2>
          <!--    Javascript    -->
          <button type = 'button' class="remove-hotel btn btn-danger">Remove</button>
        </div>
      </div>
  </div>


  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- <script src="../public/js/scripts.js"></script> -->
 <script>
    {% autoescape false %}
    var all_hotels = {{ all_hotels | json }};
    var all_restaurants = {{ all_restaurants | json }};
    var all_things_to_do = {{ all_things_to_do | json }};
    {% endautoescape %}
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkSl5upooA9Q2BWinSzb4i-itNZpIusdQ&sensor=true"></script>
  <script type="text/javascript">
    function initialize_gmaps() {
    // initialize new google maps LatLng object
    var myLatlng = new google.maps.LatLng(40.705786,-74.007672);
    // set the map options hash
    var mapOptions = {
        center: myLatlng,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.HYBRID
    };
    // get the maps div's HTML obj
    var map_canvas_obj = document.getElementById("map-canvas");
    // initialize a new Google Map with the options
    var map = new google.maps.Map(map_canvas_obj, mapOptions);
    // Add the marker to the map
    var marker = new google.maps.Marker({
        position: myLatlng,
        title:"Hello World!"
    });
    // Add the marker to the map by calling setMap()
    marker.setMap(map);
}
$(document).ready(function() {
    initialize_gmaps();
    
    function createListItem(name){
      var a = document.createElement('a');
      var t = document.createTextNode(name);
      var place = document.createElement('li');
      a.appendChild(t);
      a.role="menuitem";
      a.href="#";
      a.tabindex='-1';
      place.appendChild(a);
      place.role="presentation";
      return place;
    }

    var hotel = document.getElementById('hotel-menu')
    all_hotels.forEach(function(row){
      var place = createListItem(row.name);
      hotel.appendChild(place);
    })

    var rest = document.getElementById('rest-menu')
    all_restaurants.forEach(function(row){
      var place = createListItem(row.name);
      rest.appendChild(place);
    })

    var ttd = document.getElementById('ttd-menu')
    all_things_to_do.forEach(function(row){
      var place = createListItem(row.name);
      ttd.appendChild(place);
    })

});
   </script>



</body>
</html>